*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 50px 300px;
    font-size: 15px;
}
.topnav{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.topnav a{
    text-decoration: none;
    color: rgb(238, 73, 13);
}
.flex-container{
    display: flex;
}
#box{
    padding: 40px;
    background-color: hsl(31, 77%, 52%);
    color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#box1{
    padding: 40px;
    background-color: hsl(184, 100%, 22%);
    color: white;
}
#box2{
    padding: 40px;
    background-color: hsl(179, 100%, 13%);
    color: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.car{
    padding-bottom: 30px;
}
.sedan{
    font-family: 'Big Shoulders Display', cursive;
    padding-bottom: 30px;
}
.sedan h3{
    font-size: 38px;

}
.test{
    padding-bottom: 55px;
    font-family: 'Lexend Deca', sans-serif;
    color:rgb(233, 227, 227);
    font-size: 14px;
}
#box button{
    background-color: white;
    color: hsl(31, 77%, 52%);
    padding: 13px 24px;
    border-radius: 24px;
    font-size: 15px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
}
#box1 button{
    background-color: white;
    color: hsl(184, 100%, 22%);
    padding: 13px 24px;
    border-radius: 24px;
    font-size: 15px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
}
#box2 button{
    background-color: white;
    color: hsl(179, 100%, 13%);
    padding: 13px 24px;
    border-radius: 24px;
    font-size: 15px;
    border: none;
    font-family: 'Lexend Deca', sans-serif;
}